<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Technoverts">
    <meta name="description" content="Hotel-Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js" defer></script>
    <script src="/js/base.js" defer></script>
    <script src="/js/script.js" defer></script>
    <title>C&M Hotel-Restaurant</title>
</head>
<body>
    <div id="root">
        <main role="main" id="root-body"></main>
    </div>
</body>
</html>
